$primary-text-cl: #000000;
$secondary-text-cl: #a1abb6;
$stats-bg-cl: #f3f6f9;

.profile {
  max-width: fit-content;
  margin-bottom: 25px;

  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;

  text-align: center;
}
.description {
  padding: 30px;
}
.avatar {
  object-fit: cover;
  max-width: 150px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}

.tag,
.location {
  color: $secondary-text-cl;
  font-size: 14px;
}
.tag {
  margin-bottom: 5px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}

.statItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $stats-bg-cl;
  border: 1px solid #e4e9f0;
}

.label {
  color: $secondary-text-cl;
  font-size: 12px;
}

.quantity {
  font-weight: 600;
}
